<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hillary.baking">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/recipe"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recipe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeInfoActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hillary.baking.MainActivity" />
        </activity>

        <activity android:name=".RecipeInfoDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hillary.baking.RecipeInfoActivity" />
        </activity>

        <receiver android:name=".BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>
    </application>

</manifest>